* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: helvetica;
}
html {
  height: 0vh;
}
body {
  background-color: white;
  overflow-x: hidden;
}
nav {
  height: 80px;
  width: 1800px;
  background-color: white;
  display: flex;
  align-items: center;

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.199);
}
nav ul {
  position: relative;
  left: 320px;
  display: flex;
  gap: 40px;
}
svg {
  margin-left: 20px;
}
.images {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 1px;
  gap: 20px;
  height: 230px;
  /* background-color: white; */
}
.images img {
  position: relative;
  right: 40px;
  top: 20px;
}
nav ul li:hover {
  cursor: pointer;
  color: orange;
}
nav svg[class="VXJlj"]:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in;
  cursor: pointer;
}
nav select:hover {
  color: orange;
}

nav ul li:hover .ppAwf path {
  fill: orange;
}
.body .main {
  display: flex;
  gap: 20px;
  position: relative;
  top: 110px;
  left: 200px;
}
.body .sc-dtInlm {
  height: 200px;
  width: 300px;

  position: relative;
}
.body .sc-dtInlm img {
  border-radius: 15px;
  height: 200px;
  width: 300px;

  object-fit: cover;
  transition: transform 0.3s ease;
}
.body .sc-dtInlm img:hover {
  cursor: pointer;
  transform: scale(0.9);
}
.body .sc-dtInlm img:hover b {
  cursor: pointer;
  transform: scale(0.9);
}
.body .sc-dtInlm:hover {
  font-size: 14px;
}
